<!doctype html>
<html lang="en">

<head>
  <title>Get Counters :: LOL</title>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="icon"
    href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 100 100%22><text y=%22.9em%22 font-size=%2290%22>⚔</text></svg>">


  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

  <!-- My css -->
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css')}}">
  <link rel="stylesheet" href="../static/style.css">
</head>

<body>
  <div class="container">
    <div class="row">
      <div class="jumbotron titlebox">
        <h1 class="display-3 logo">Get Counters ⚔</h1>
        <form action="summoner" method="post">
          <div class="form-row">
            <div class="col">
              <input type="text" class="form-control form-control-lg" name="summoner" placeholder="Summoner">
            </div>
            <div class="col">
              <input type="text" class="form-control form-control-lg" name="enemy" id="champion" placeholder="Enemy Champion" autocomplete="off">
              <ul class="suggestions" id="suggestions">
              </ul>
            </div>
            <div class="col">
              <div class="form-group">
                <select class="form-control form-control-lg" name="line" id="line" placeholder="Lane">
                  <option>top</option>
                  <option>mid</option>
                  <option>bot</option>
                  <option>support</option>
                  <option>jungle</option>
                </select>
              </div>
            </div>
          </div>
          <div class="form-row">
            <div class="col text-center">
              <button type="submit" class="btn btn-primary btn-lg btn-search">🔎 Search</button>
            </div>
          </div>
        </form>
      </div>
    </div>
    <!-- Imprime los resultados -->
    {% if info %}
    <div class="row">
      <div class="col">

      </div>
    </div>
    <div class="row">
      <div class="col">
        <h3>🏋️‍♀️Your Champs</h3>
        <table class="table table-bordered table-dark table-striped table-inverse">
          <thead class="thead-inverse">
            <tr>
              <th>Champ</th>
              <th>Winrate</th>
            </tr>
          </thead>
          <tbody>
            {% for champ in info %}
            <tr>
              <td>{{champ}}</td>
              <td>{{info[champ]}}%</td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
      <div class="col">
        <h3>😭 Worst Three </h3>
        <table class="table table-bordered table-dark table-striped table-inverse">
          <thead class="thead-inverse">
            <tr>
              <th>Champ</th>
              <th>Winrate</th>
            </tr>
          </thead>
          <tbody>
            {% for champ in top_three %}
            <tr>
              <td>{{champ}}</td>
              <td>{{top_three[champ]}}%</td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
      <div class="col">
        <h3>💪 Top Three </h3>
        <table class="table table-bordered table-dark table-striped table-inverse">
          <thead class="thead-inverse">
            <tr>
              <th>Champ</th>
              <th>Winrate</th>
            </tr>
          </thead>
          <tbody>
            {% for champ in worst_three %}
            <tr>
              <td>{{champ}}</td>
              <td>{{worst_three[champ]}}%</td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
    {% endif %}
  </div>

  <!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous">
  </script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous">
  </script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous">
  </script>
  <!-- Matomo -->
  <script type="text/javascript">
    var _paq = window._paq = window._paq || [];
    /* tracker methods like "setCustomDimension" should be called before "trackPageView" */
    _paq.push(["setDocumentTitle", document.domain + "/" + document.title]);
    _paq.push(["setCookieDomain", "*.syslinux.xyz"]);
    _paq.push(['trackPageView']);
    _paq.push(['enableLinkTracking']);
    (function () {
      var u = "//aws.syslinux.xyz:8000/";
      _paq.push(['setTrackerUrl', u + 'matomo.php']);
      _paq.push(['setSiteId', '1']);
      var d = document,
        g = d.createElement('script'),
        s = d.getElementsByTagName('script')[0];
      g.type = 'text/javascript';
      g.async = true;
      g.src = u + 'matomo.js';
      s.parentNode.insertBefore(g, s);
    })();
  </script>
  <!-- End Matomo Code -->

  <!-- My javascript  -->
  <script src="../static/script.js"></script>
  <script src="{{ url_for('static'), filename='script.js')}}"></script>
</body>

</html>